.card {
  border-radius: 10.668px;
  border: 0.711px solid #f0f0f0;
  background: #f6f6f6;
  width: 15rem;
  margin:0 0.4rem;
  flex-shrink: 0;
}

.card-top {
  text-align: center;
  position: relative;
  height: 200px;
}
.card-top .productImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card-top-header {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding: 0.2rem 0.5rem 0 0;
}

.card-top-header-badge {
  background: #222;
  display: inline-flex;
  padding: 7.112px 11.379px;
  align-items: flex-start;
  gap: 7.112px;
  color: #fff;
  font-size: 9.245px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


.card-bottom {
  background-color: var(--white-color);
  padding: 1rem;
}

.product-popularity {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.product-rating {
  display: flex;
  padding: 4.267px 3.556px;
  align-items: flex-start;
  gap: 7.112px;

  border-radius: 3.556px;
  background: #edece3;

  color: var(--brand-color);
  font-size: 7.112px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
